$footerBackground: #ccd5ae;
$navBackgorund: #d4a373;
$section: #faedcd;
$nav-height: 80px;
$htmlBackground: #fefae0;
$loginFormButtonHoverColor: #06d6a0;
$boxBackground: #ffdeb9;
$boxTitleBackground: pink;
